<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="header">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dane Miller</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{~/css/global.css}">
</head>
<body>

<nav th:fragment="navbar" id="header-nav" class="navbar  navbar-expand-md bg-faded justify-content-center nav-top fixed-top">

    <div class="mr-auto w-50 d-flex ">
        <div>
            <span class="nav-name">Dane Miller</span>
       </div>

    </div>

    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">

        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item  p-2 m-1 ">
                <a href="#home" class="nav-link text-uppercase hvr-underline-from-center">
                    Home
                </a>
            </li>
            <li class="nav-item  p-2 m-1 ">
                <a href="#services" class="nav-link text-uppercase hvr-underline-from-center">
                    Services
                </a>
            </li>
            <li class="nav-item  p-2 m-1 ">
                <a href="#process" class="nav-link text-uppercase hvr-underline-from-center">
                    Process
                </a>
            </li>
            <li class="nav-item p-2 m-1 mr-4">
                <a href="#work" class="nav-link text-uppercase hvr-underline-from-center">
                    Work
                </a>
            </li>

            <li class="nav-item p-0">
                <div class="contact-btn hvr-pulse">
                    <a href="#contact" class="text-uppercase">
                    Contact Me
                 </a>
                </div>

            </li>
        </ul>
    </div>

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
</nav>

<!-- Footer -->
<footer  th:fragment="footer">
    <div class="footer-fade"></div>
>
    <div class="row justify-content-center align-self-baseline pt-4">

        <img th:src="@{~/img/logo.png}" alt="Dane Miller" class="footer-logo">

    </div>
    <div class="d-flex  align-self-baseline justify-content-center m-3 flex-wrap final">

        <div class="col-12 col-md-4 text-center align-self-middle">
            <div class="badge badge-pill badge-dark p-2 text-sm-center"><a href="#">miller.l.dane@gmail.com</a></div>
        </div>

        <div class="col-12 col-md-4  text-center">
            <div class="hvr-outline-in"><a href="http://github.com/unfaiyted"><i class="fab fa-git-square fa-2x"></i></a></div>
            <div class="hvr-outline-in"><a href="http://linkedin.com/in/danelmiller"> <i class="fab fa-linkedin fa-2x"></i></a></div>
            <div class="hvr-outline-in"><a href="https://www.reddit.com/user/unfaiyted"><i class="fab fa-reddit-square fa-2x"></i></a></div>
        </div>

        <div class="col-12 col-md-4 text-center text-sm-center align-self-baseline">
            <div class="badge badge-pill badge-dark p-2"><span>&copy; Dane L Miller. All rights reserved.</span></div>
        </div>
    </div>
    </div>
    </div>


    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Preloader -->
    <script type="text/javascript">
        //<![CDATA[
        $(window).on('load', function() { // makes sure the whole site is loaded
            $('#status').fadeOut('slow'); // will first fade out the loading animation
            $('#preloader').delay(1000).fadeOut('slow'); // will fade out the white DIV that covers the website.
            $('body').delay(1000).css({'overflow':'visible'});
        })
        //]]>
    </script>


</footer>


</body>
</html>