<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Data Dane!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0-beta/css/bootstrap-select.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css">
    <link type="text/css" rel="stylesheet" href="/css/post.css">
</head>
<body>
<nav th:fragment="navbar" class="navbar  navbar-expand-md bg-faded justify-content-center bg-custom-dark">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto"><img src="img/logo.png" class="d-inline-block align-center img-logo" alt=""> Home
    </a>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active">

            </li>
            <li class="nav-item hvr-underline-from-center">
                <a class="nav-link my-name" href="#">Dane L. Miller</a>
            </li>
            <li class="nav-item">

            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item  p-2 m-1 ">
                <a href="/posts/create" class="nav-link text-uppercase hvr-underline-from-center">
                    Latest
                </a>
            </li>
            <li class="nav-item dropdown p-2 m-1 ">
                <a class="nav-link dropdown-toggle  hvr-underline-from-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Users
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="/posts/create">Create Post</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/login">Login</a>
                </div>
            </li>
            <li class="nav-item p-1">
                <div class="contact-btn  hvr-pulse"> <a href="#" class="text-uppercase">
                    Contact Me
                </a></div>

            </li>
        </ul>
    </div>
</nav>

<footer th:fragment="footer">
    <div id="footer">Blog Footer 2018</div>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0-beta/js/bootstrap-select.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

    <script type="text/javascript">

    </script>

</footer>


</body>
</html>