<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/main :: header">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>

<div th:replace="partials/main :: navbar" />


<div sec:authorize="isAuthenticated()">
    <div class="container mx-auto p-2 m-2">
        <div class="row">
            <div class="col-lg-8 col-12">
                This is a logged in page
            <div class="col-4">
            </div>
        </div>
    </div>
</div>

<div th:replace="partials/main :: footer" />
<script src="/js/upload.js"></script>

</body>
</html>
