<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/main :: header">
    <meta charset="UTF-8" />
    <title>Index page</title>
</head>
<body>

<div th:replace="partials/main :: navbar" />
    <div class="h-100 main-container  mx-auto w-100 text-center" id="home">

        <div class="h-100 filter-container text-center ">
        </div>
        <div class="h-100 text-center " id="image-holder">
        </div>

        <div class="container h-100 text-center mx-auto center-container">
            <div class="row justify-content-center align-self-center ">

                <div class="col-12 tag-line "> Problems need solutions.</div>
                <div class="col-12 m-4  justify-content-center align-self-center tag-words">
                    Motivated  &#9679; Adaptable &#9679; Inventive
                </div>
                <div class="col-12 justify-content-center align-self-center tag-buttons">
                    <div class="row  justify-content-center align-self-center m-4">
                        <div class="tag-button m-3 hvr-pulse"><a href="/posts">Blog</a></div>
                        <div class="tag-button m-3 hvr-pulse">Portfolio</div>
                        <div data-popup-open="popup-1" class="tag-button m-3 hvr-pulse" >Résumé</div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="w-100 mx-auto vh-100 box" id="services">
        <div class="row vh-100">

            <p class="text-center h1 p-4 w-100">Providing innovative solutions for new technologies.</p>

            <hr class="break-rule">

            <p class="text-center p-4">With technical experience in both front and back end web technologies, business and database
                analytics reporting, and application development and ownership.
            </p>

            <div class="d-flex flex-row flex-wrap justify-content-center vh-max text-center">
                <div class="row p-3">
                    <div class="col m-3">
                        <img src="img/icon-case.png" alt=""> <span>Technical Background</span>
                        <p>A varied technical background with experience learning new technologies on the fly
                        and adjusting capabilities to technical limitations and expectations of the business.</p>
                    </div>
                    <div class="col m-3">
                        <img src="img/icon-comm.png" alt=""><span>Communications</span>
                        <p>Strong communication skills with business partners and leadership. Supporting
                        growth and development of both internal and external interactions </p>
                    </div>
                    <div class="w-100"></div>
                    <div class="col m-3">
                        <img src="img/icon-linkedin.png" alt=""><span>Networking</span>
                        <p>Building a network of like minded colleagues. Developing and expanding upon relationships
                        both inside and outside the workplace. </p>
                    </div>
                    <div class="col m-3">
                        <img src="img/icon-person.png" alt=""><span>Customer Oriented</span>
                        <p>Understand cutomer oriented though approach to both development and
                        integration of new technologies. As well as the importance of such
                        an approach. </p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div id="panels" class="w-100 mx-auto" >

        <div class="row  vh-100 text-center" id="process">
            <div class="col-lg-3 col-sm-6 col-12 vh-100  panel design-panel hvr-shutter-out-vertical ">
                <img src="img/icon-gear.png" alt="" >
                <span>Design</span>
                <p>Page and UI Design accounts for one of the most customer facing experiences that one might
                    experience. It can change an experience from positive or negative. It's importance as a tool can't
                    be underestimated.
                </p>
                <div class="more-btn  hvr-pulse"><i class="material-icons">arrow_forward</i></div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12 vh-100  panel development-panel hvr-shutter-out-vertical">
                <img src="img/icon-laptop.png" alt="">
                <span>Development</span>
                <p>A process by which you systematically create something over a period of time. Integral to a good process
                    or application. Strong skills in this area allow for planning and organization.
                </p>
                <div class="more-btn  hvr-pulse"><i class="material-icons">arrow_forward</i></div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12 vh-100 panel strategy-panel hvr-shutter-out-vertical">
                <img src="img/icon-globe.png" alt="">
                <span>Strategy</span>
                <p>Understanding of limitations and finding ways to work through them in a timely manner to both
                overcome the limitation and work to better define those limitations within the scope.
                </p>
                <div class="more-btn  hvr-pulse"><i class="material-icons">arrow_forward</i></div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12 vh-100 panel comm-panel hvr-shutter-out-vertical">
                <img src="img/icon-speech.png" alt="" class="img-fluid">
                <span>Communication</span>
                <p>Working with others in a team and sharing information to better solve problems.
                A key resource to society as a whole and one of the strong components to any good business relationship.
                </p>
                <div class="more-btn  hvr-pulse"><i class="material-icons">arrow_forward</i></div>
            </div>
        </div>

    </div>



<!-- Projects-->
<div class="w-100 mx-auto" >

    <div class="project-buttons row">
        <div class="prj-btn">
            <button class="btn btn-secondary"> < </button>

        </div>
        <div class="prj-btn ml-auto">
            <button class="btn btn-secondary"> > </button>
        </div>
    </div>

    <div class="d-flex flex-box w-100 vh-100  justify-content-center align-items-center" id="work">

        <div class=" pl-4  col-md-offset-1 col-md-5 align-self-center align-items-center">

            <div class="device-mockup">
                <div class="device">
                    <div class="screen">
                        <img src="img/24hours.jpg" class="img-fluid" />
                    </div>
                </div>
            </div>

        </div>

            <div class="col-md-6 align-self-center align-items-center">
                <h1>Project Name</h1>
                <p>Java Spring Framework, JQuery, Node</p>
                <hr>
                <button class="btn btn-primary">View GitHub</button>

            </div>
    </div>






</div>


<!--CONTACT -->
<div class="w-100 mx-auto" >

    <div class="row  vh-100 text-center" id="contact">

        Contact Me

        <p>Please let me know if you have a project you'd be interested in getting my assistance on!</p>

        NAME

        EMAIL

        PHONE NUMBER

        MESSAGE


        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

</div>



<div th:replace="personal/resume :: resume" />

<div th:replace="partials/main :: footer" />
<script
src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
crossorigin="anonymous"></script>

<script th:src="@{~/built/main.js}"></script>
</body>
</html>