<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/main :: header">
    <meta charset="UTF-8" />
    <title>Index page</title>
</head>
<body>

<div th:replace="partials/main :: navbar" />
    <div class="h-100 main-container  mx-auto w-100 text-center" id="home">

        <div class="h-100 filter-container text-center ">
        </div>
        <div class="h-100 text-center " id="image-holder">
        </div>

        <div class="container h-100 text-center mx-auto center-container">
            <div class="row justify-content-center align-self-center ">

                <div class="col-12 tag-line "> Problems need solutions.</div>
                <div class="col-12"> <hr class="colored"></div>
                <div class="col-12 m-4  justify-content-center align-self-center tag-words">
                    Motivated  &#9679; Adaptable &#9679; Inventive
                </div>
                <div class="col-12 justify-content-center align-self-center tag-buttons">
                    <div class="row  justify-content-center align-self-center m-4">
                        <div class="tag-button m-3 hvr-pulse"><a href="http://linkedin.com/in/danelmiller">LinkedIn</a></div>
                        <div class="tag-button m-3 hvr-pulse"><a href="/resume.pdf">Resume</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 mx-auto box" id="services">
        <div class="row vh-100">
            <div class="col-12 text-center">
            <h1 class="pt-4">Providing innovative solutions for new technologies.</h1>
            <hr class="colored">

            </div>
            <p class="text-center p-4">With technical experience in both front and back end web technologies, business and database
                analytics reporting, and application development and ownership.
            </p>

            <div class="d-flex flex-row flex-wrap justify-content-center text-center">
                    <div class="col-md-6 p-3">
                        <img src="img/icon-case.png" alt=""> <span>Technical Background</span>
                        <p>A varied technical background with experience learning new technologies on the fly
                        and adjusting capabilities to technical limitations and expectations of the business.</p>
                    </div>
                    <div class="col-md-6 p-3">
                        <img src="img/icon-comm.png" alt=""><span>Communications</span>
                        <p>Strong communication skills with business partners and leadership. Supporting
                        growth and development of both internal and external interactions </p>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-6 p-3">
                        <img src="img/icon-linkedin.png" alt=""><span>Networking</span>
                        <p>Building a network of like minded colleagues. Developing and expanding upon relationships
                        both inside and outside the workplace. </p>
                    </div>
                    <div class="col-md-6 p-3">
                        <img src="img/icon-person.png" alt=""><span>Customer Oriented</span>
                        <p>Understanding the needs of the customer and with the ability to anticipate what they are asking
                            and how that related to what is technically possible to both create and implement the needs. </p>
                    </div>
            </div>
        </div>
    </div>


    <div id="panels" class="w-100 mx-auto" >

        <div class="row  vh-100 text-center" id="process">
            <div class="d-flex flex-box col-lg-3 col-sm-6 col-12 vh-100  panel design-panel hvr-shutter-out-vertical ">
                <div class="align-self-center">
                <img src="img/icon-gear.png" alt="" >
                <span>Design</span>
                <p>Page and UI Design accounts for one of the most customer facing experiences that one might
                    experience. It can change an experience from positive or negative. It's importance as a tool can't
                    be underestimated.
                </p>
                </div>
            </div>
            <div class="d-flex flex-box col-lg-3 col-sm-6 col-12 vh-100  panel development-panel hvr-shutter-out-vertical">
                <div class="align-self-center">
                <img src="img/icon-laptop.png" alt="">
                <span>Development</span>
                <p>A process by which you systematically create something over a period of time. Integral to a quality process
                    or application. Strong skills in this area allow for planning and organization.
                </p>
                </div>

            </div>
            <div class="d-flex flex-box col-lg-3 col-sm-6 col-12 vh-100 panel strategy-panel hvr-shutter-out-vertical">
                <div class="align-self-center">
                <img src="img/icon-globe.png" alt="">
                <span>Strategy</span>
                <p>Understanding of limitations and finding ways to work through them in a timely manner to both
                overcome the limitation and work to better define those limitations within the scope.
                </p>
                </div>

            </div>
            <div class="d-flex flex-box col-lg-3 col-sm-6 col-12 vh-100 panel comm-panel hvr-shutter-out-vertical">
                <div class="align-self-center">
                <img src="img/icon-speech.png" alt="" class="img-fluid">
                <span>Communication</span>
                <p>Working with others in a team and sharing information to better solve problems.
                A key resource to society as a whole and one of the strong components to any good business relationship.
                </p>
                </div>


            </div>
        </div>

    </div>



<!-- Projects-->
<div class="w-100 mx-auto" id="work-bg">

    <div class="project-buttons row">
        <div class="prj-btn">
            <button class="btn btn-secondary projects-back"> < </button>

        </div>
        <div class="prj-btn ml-auto">
            <button class="btn btn-secondary projects-forward"> > </button>
        </div>
    </div>

    <div class="d-flex flex-box flex-wrap w-100 vh-100  justify-content-center align-items-center" id="work">

        <div class=" pl-4  col-md-offset-1 col-offset-0 col-md-5  col-12 align-self-center align-items-center">

            <div class="device-mockup">
                <div class="device">
                    <div class="screen">
                        <img src="img/24hours.jpg" id="screen" class="img-fluid" />
                    </div>
                </div>
            </div>

        </div>

            <div class="col-md-6 col-12 text-sm-center text-md-left">
                <h1 class="proj-name">Project Name</h1>
                <p class="proj-desc">Java Spring Framework, JQuery, Node</p>
                <div style="width:100px"><hr class="colored"></div>
                <a href="#" class="proj-link btn btn-primary">View GitHub</a>

            </div>
    </div>






</div>


<!--CONTACT -->
<div class="w-100 mx-auto" >

    <div class="row  vh-100 text-center" id="contact">

        <div class="col-12 text-center mt-2">
            <h1 class="contact-me">Contact Me</h1>
            <hr class="colored">
            <p>Please let me know if you have a project you'd be interested in getting my assistance on!</p>
        </div>

        <form id="contact-form" class="col-12 text-center">
            <div class="form-group">
                <input type="text" class="input" id="contact-name" placeholder="Name">

            </div>
            <div class="form-group">

                <input type="email" class="input" id="contact-email"  placeholder="Email">

            </div>

            <div class="form-group">

                <input type="number" class="input" id="contact-phone"  placeholder="Phone Number">

            </div>

            <div class="form-group">

                <input type="text" class="input" id="contact-message" placeholder="Message">

            </div>

            <button type="submit" class="btn btn-secondary" id="contactSubmit">Submit</button>
                    <span id="contact-sent"></span>
        </form>

    </div>

</div>


<div th:replace="partials/main :: footer" />
<script
src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
crossorigin="anonymous"></script>

<script th:src="@{~/built/main.js}"></script>
</body>
</html>