
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/main :: header">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>

<div th:fragment="post">
        <form th:action="${action}" method="post" th:object="${post}" name="post-form">

            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger alert-dismissible fade show" role="alert" />

            <label th:for="*{title}">Pick a wonderful title</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Title </span>
                </div>
                <input th:field="*{title}" class="form-control" aria-describedby="basic-addon3">
            </div>

            <div th:if="${#fields.hasErrors('body')}" th:errors="*{body}"   class="alert alert-danger alert-dismissible fade show" role="alert" />

            <label th:for="*{body}">Description</label>
            <textarea th:field="*{body}" cols="8"/>
            <input type="hidden" th:field="*{id}" th:value="*{id}"/>
            <input type="submit" name="submit-post" id="submit-post" class="btn btn-primary m-1 p-1"/>
            <input type="hidden" name="post-documents" id="post-documents" data-docs="" th:value="${docs}" />
        </form>
</div>

<div th:replace="partials/main :: footer" />
<script src="/js/upload.js"></script>

</body>
</html>
