
<div th:fragment="post">
        <form th:action="${action}" method="post" th:object="${post}">
            <label th:for="*{title}">Title</label>
            <input th:field="*{title}" />
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
            <br />
            <label th:for="*{body}">Description</label>
            <input th:field="*{body}" />
            <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" />
            <br />
            <input type="hidden" th:field="*{id}" th:value="*{id}"/>
            <input type="submit" />
        </form>
</div>